header {
    background-image: url("../pics/background.jpg");
    display: flex;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    height: 230px;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
}

.btn {
    text-align: center;
    width: 100%;
}

input[list="selCity"] {
    width: 12em;
    border: none;
    background: #eee;
}

select {
    width: 12.5em;
    margin: 0;
    margin-left: -12em;
}